{% extends "/Layout/layout.html" %}
{% block body %}
      <main role="main" class="inner cover">
          <img src="https://avatars3.githubusercontent.com/u/30072249?s=460&v=4"class="rounded-circle"  alt="Apoorv_icon" width="254" height="196">
        <h1 class="cover-heading">Apoorv Verma</h1>
          <p class="lead">Hi , My Name is Apoorv Verma .This is Flask website and i am passionate about Web Development and follow me at <a href="https://github.com/Apoorve8055"><b>Apoorv Verma</b></a> </p>
        <p class="lead">
          <a href="https://github.com/Apoorve8055" class="btn btn-lg btn-secondary">Follow Me</a>
        </p>
      </main>
{% endblock %}
