{% extends "/Layout/layout.html" %}
{% block body %}
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Jinja Template Engine</h1>
        <p class="lead">Jinja2 is one of the most used template engines for Python. It is inspired by Django's templating system but extends it with an expressive language that gives template authors a more powerful set of tools. On top of that it adds sandboxed execution and optional automatic escaping for applications where security is important.

.</p>
        <p class="lead">
          <a href="http://jinja.pocoo.org/" class="btn btn-lg btn-secondary">Read more</a>
        </p>
      </main>
{% endblock %}
