{% extends "/Layout/layout.html" %}
{% block body %}
      <main role="main" class="inner cover" style="width: 700px">
        <h1 class="cover-heading">Login Here</h1>


            <form class="form-group">
          <input class="form-control" type="text" placeholder="Enter Username"> <br>
          <input class="form-control" type="password" placeholder="Enter Password"><br>
        <button class="btn btn-info" style="width: 100%">Login Here</button>
      </form>


      </main>
{% endblock %}
