{% extends "/Layout/layout.html" %}
{% block body %}
      <main role="main" class="inner cover" style="width: 700px"><br>
        <h1 class="cover-heading">Register Here</h1>
        <div>
            <form>
	<div class="form-row">
		<div class="col form-group">
			<label>First name </label>
		  	<input type="text" class="form-control" placeholder="">
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label>Last name</label>
		  	<input type="text" class="form-control" placeholder=" ">
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label>Email address</label>
		<input type="email" class="form-control" placeholder="">

	</div> <!-- form-group end.// -->

	<div class="form-group">
		<label>Create password</label>
	    <input class="form-control" type="password">
	</div> <!-- form-group end.// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
    </div> <!-- form-group// -->

</form>
        </div>
      </main>
{% endblock %}
